/*整体样式*/
*{
    margin: 0;
    padding: 0;
    
    list-style: none;  /*这个有用到吗？*/
    text-decoration: none;
    text-shadow: none;

    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */

	font-family: 微软雅黑;
}
html, body, #pagenav{
	position: relative;
	height: 100%;
}
/*swiper样式*/
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide, .sec-con, .content-J, .content-X, #newmedia #newmedia_button{
	/*flex布局（已兼容）*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*调整为竖排（已兼容）*/
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	/*一行中内容排不下时正常换行*/
	flex-wrap: wrap;
	/*主轴居中（已兼容）*/
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	/*交叉轴居中（已兼容）*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
/*具体介绍通用*/
.part_list{
    position: absolute;
    z-index: 999;
    left: 3rem;
    top: 16rem;
}
.part_list ul{
    width: 14rem;
}
.part_list ul li a{
    padding: 0.5rem 1.3rem;
    font-size: 1.4rem;
    border: 1.6px solid #fff;
    border-radius: 90px;
    line-height: 4rem;
    font-weight: 400;
    color: #fff;
}
.part_list ul li{
    width: auto;
    float: left;
    margin-bottom: 1rem;
}
.part_list ul li a img{
    display: inline-block;
    height: 2.1rem;
    padding-top: 1rem;
}
.back_pic{
    position: absolute;
    bottom: 0;
    left: 0;
}
.title_part{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 5rem;
}
h2{
    font-size: 1.6rem;
    font-weight: 400;
    position: absolute;
    top: 11rem;
    left: 3rem;
}
/*第一页*/
#s_one{
    position: relative;
    /*第一页蓝色背景*/
}
#firstback{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/*戳我报名*/
#submit_pic{
    position: absolute;
    width: 3rem;
    left: 1rem;
    top: 0;
    animation: pull 1s infinite linear;
}
@keyframes pull{
    0% {top:  0;}
    50%{top: -1rem;}
    100%{top: 0;}
}
/*小星球*/
#planet1{
    position: absolute;
    width: 8rem;
    height: 6rem;
    top: 1rem;
    right: 3rem;
    animation: circle 3s infinite linear;
}
@keyframes circle{
    0%{top: 1rem;right:3rem;transform:scale(1);}
    25%{top: 2rem;right:2rem;transform:scale(1.5);}
    50%{top: 3rem;right:1rem;transform:scale(0.8);}
    100%{top: 1rem;right:3rem;transform:scale(1);}
}
/*第二页*/
#s_two{
    position: relative;
}
#back02-1{
    position: absolute;
    width: 100%;
    height: 100%;
}
.display{
    position: absolute;
    width: 8rem;
    height: 8rem;
}
    /*四幅图*/
#qihang{top: 26rem;left: 3rem;}
#EUX{top: 16rem;left: 3rem;}
#yousi{top: 20rem;right: 3rem;}
#exia{top: 30rem;right: 3rem;}
    /*标语*/
#slogan1{
    position: absolute;
    width: 18rem;
    top: 2rem;
    left: 4rem;
}
#slogan2{
    position: absolute;
    width: 16rem;
    height: 2rem;
    top: 8rem;
    left: 5rem;
}
/*字体设置*/
@font-face{
    font-family: 'wordtype';
    src:url('./fonts/wordtype.otf');
    font-weight: normal;
    font-style: normal;
}
/*技术部门*/
#s_three{
    background-color: rgb(232,79,73);
    color: #fff;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#tech_special{
    background-color:  rgb(232,79,73);
}
/*设计产品*/
#s_four{
    background-color: #3c99d2;
    color: #fff;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#s_four h2{
    font-size: 2rem;
    margin-bottom: 3rem;
    text-indent: 5px;
    font-weight: 400;
}
#design_special{
    background-color:  #3c99d2;
}
/*信息部门*/
#s_five{
    background-color: #7f5597;
    color: #fff;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#s_five>img{
    position: absolute;
    bottom: 0;
    left: 0;
}
#media_special{
    background-color:  #7f5597;
}
/*市场公关*/
#s_seven{
    background-color: #f1904b;
    color: #fff;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#s_seven>img{
    position: absolute;
    bottom: 0;
    left: 0;
}
#market_special{
    background-color:  #f1904b;
}
#market_spcial ul li a{
    padding: 0.5rem 1.3rem;
    font-size: 1.4rem;
    border: 1.6px solid #fff;
    border-radius: 90px;
    line-height: 4rem;
    font-weight: 400;
    color: #fff;
}
    
/*第六页*/
#s_six{
    background-color: #e65248;
    color: #fff;
    box-sizing: border-box;
    padding-top: 8rem;
    padding-left: 2rem;
}
.tech_list ul{
    width: 10rem;
}
.tech_list ul li a{
    padding: 0.5rem;
    display: block;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 10px;
}
.tech_list ul li{
    width: auto;
    float: left;
    margin-bottom: 1rem;
}
/*轮播页面*/
#s_six{
    background-color: #e65248;
    padding-right: 2rem;
    position: relative;
}
#s_six h1{
    position: absolute;
    top: 3rem;
    left: 3rem;
    line-height: 5rem;
    font-size: 3rem;
}
#tojoin{
    padding: 0.3rem 1.5rem;
    font-size: 1.8rem;
    border: 1.6px solid #fff;
    border-radius: 90px;
    line-height: 4rem;
    color: #fff;
    font-weight: 400;
    position: absolute;
    left: 3rem;
    top: 25rem;
}
#s_six p{
    text-align: center;
    margin-top: 12rem;
    position: absolute;
    bottom: 2rem;
}
#s_six p a{
    color: #fff;
    font-weight: 400;
}
