*{
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
}
html {
    width: 100%;
    height:auto;
    overflow-x: hidden;
}
.index-slide{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
/*具体介绍通用*/
.part_list{
	position: absolute;
	z-index: 999;
}
.part_list ul{
	width: 14rem;
}
.part_list ul li a{
	padding: 0.5rem 1.3rem;
    font-size: 1.4rem;
    border: 1.6px solid #fff;
    border-radius: 90px;
    line-height: 4rem;
}
.part_list ul li{
	width: auto;
	float: left;
	margin-bottom: 1rem;
}
.part_list ul li a img{
	display: inline-block;
    height: 2.1rem;
    padding-top: 1rem;
}
.back_pic{
	position: absolute;
    bottom: 0;
    left: 0;
}
/*第一页*/
#s_one{
	position: relative;
	/*第一页蓝色背景*/
}
#firstback{
	width: 100%;
	height: 100%;
	position: absolute;
}
/*戳我报名*/
#submit_pic{
	position: absolute;
	width: 3rem;
	left: 1rem;
	top: 0;
	animation: pull 1s infinite linear;
}
@keyframes pull{
	0% {top:  0;}
	50%{top: -1rem;}
	100%{top: 0;}
}
/*小星球*/
#planet1{
	position: absolute;
	width: 8rem;
	height: 6rem;
	top: 1rem;
	right: 3rem;
	animation: circle 3s infinite linear;
}
@keyframes circle{
	0%{top: 1rem;right:3rem;transform:scale(1);}
	25%{top: 2rem;right:2rem;transform:scale(1.5);}
	50%{top: 3rem;right:1rem;transform:scale(0.8);}
	100%{top: 1rem;right:3rem;transform:scale(1);}
}
/*第二页*/
#s_two{
	position: relative;
}
#back02-1{
	position: absolute;
	width: 100%;
	height: 100%;
}
.display{
	position: absolute;
	width: 8rem;
	height: 8rem;
}
	/*四幅图*/
#qihang{top: 26rem;left: 3rem;}
#EUX{top: 16rem;left: 3rem;}
#yousi{top: 20rem;right: 3rem;}
#exia{top: 30rem;right: 3rem;}
	/*标语*/
#slogan1{
	position: absolute;
    width: 18rem;
    top: 2rem;
    left: 4rem;
}
#slogan2{
	position: absolute;
    width: 16rem;
    height: 2rem;
    top: 8rem;
    left: 5rem;
}
/*字体设置*/
@font-face{
	font-family: 'wordtype';
	src:url('./fonts/wordtype.otf');
	font-weight: normal;
	font-style: normal;
}
/*技术部门*/
#s_three{
	background-color: rgb(232,79,73);
	color: #fff;
	box-sizing: border-box;
	padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#s_three h1{
	font-size: 5rem;
	margin-bottom: 1rem;
}
#s_three h2{
	font-size: 2rem;
	margin-bottom: 3rem;
	font-weight: 400; 
}
#tech_special{
	background-color:  rgb(232,79,73);
}
/*设计产品*/
#s_four{
	background-color: #3c99d2;
	color: #fff;
	box-sizing: border-box;
	padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#s_four h1{
	font-size: 5rem;
	margin-bottom: 1rem;
}
#s_four h2{
	font-size: 2rem;
	margin-bottom: 3rem;
	text-indent: 5px;
	font-weight: 400;
}
#design_special{
	background-color:  #3c99d2;
}
/*信息部门*/
#s_five{
	background-color: #7f5597;
	color: #fff;
	box-sizing: border-box;
	padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#s_five h1{
	font-size: 5rem;
	margin-bottom: 1rem;
}
#s_five h2{
	font-size: 1.6rem;
	margin-bottom: 3rem;
	font-weight: 400;
}
#s_five>img{
	position: absolute;
    bottom: 0;
    left: 0;
}
#media_special{
	background-color:  #7f5597;
}
/*市场公关*/
#s_seven{
	background-color: #f1904b;
	color: #fff;
	box-sizing: border-box;
	padding-top: 3rem;
    padding-left: 2rem;
    position: relative;
}
#s_seven h1{
	font-size: 5rem;
	margin-bottom: 2rem;
}
#s_seven h2{
	font-size: 1.6rem;
	margin-bottom: 3rem;
}
#s_seven>img{
	position: absolute;
    bottom: 0;
    left: 0;
}
#market_special{
	background-color:  #f1904b;
}
/*第六页*/
#s_six{
	background-color: #e65248;
	color: #fff;
	box-sizing: border-box;
	padding-top: 8rem;
	padding-left: 2rem;
}
#s_six h1{
	font-size: 3rem;
	margin-bottom: 1rem;
}
#s_six h2{
	font-size: 2rem;
	margin-bottom: 3rem;
	font-weight: 400;
}
.tech_list ul{
	width: 10rem;
}
.tech_list ul li a{
	padding: 0.5rem;
    display: block;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 10px;
}
.tech_list ul li{
	width: auto;
	float: left;
	margin-bottom: 1rem;
}
/*轮播页面*/
#s_six{
	background-color: #e65248;
	padding-right: 2rem;
	position: relative;
}
#s_six h1{margin-bottom: 11rem;line-height: 5rem;}
#tojoin{
	padding: 0.6rem 1.5rem;
    font-size: 1.8rem;
    border: 1.6px solid #fff;
    border-radius: 90px;
    line-height: 4rem;
    color: #fff;
    font-weight: 400;
}
#s_six p{
	text-align: center;
	margin-top: 12rem;
}
#s_six p a{
	color: #fff;
	font-weight: 400;
}
/*侧边栏*/
.sidebar{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}
.sidebar.active{
	display: block;
}
.sidebar.active .sidebar-bg {
    display: block;
}
.sidebar-bg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.sidebar-wrapper{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 17rem;
	background-image: url("pic/sidebar.png");
	background-size: cover;
	box-shadow: -2px 0 2px rgba(0,0,0,.15);
	overflow: auto;
	-webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform 300ms ease;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.sidebar.active .sidebar-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.morething{
	width: 100%;
	height: 60%;
	margin-top: 12rem;
}
.morething p{
	display: block;
	font-size: 2rem;
	width: 100%;
	color: #fff;
	height: 3rem;
	margin: 5rem auto;
	text-align: center;
	font-family: 'wordtype';
}
.morething p a{
	text-decoration: none;
	font-family: 'wordtype';
	display: block;
}
#num{font-size: 1.5rem}